body{
    background-color: #c0bbff;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container{
    background-color: #fff;
    color: #282b50;
    width: 400px;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.185);
    text-align: center;
}

.container h1{

    margin-bottom: 60px;
}

.container h3{
    color: #282b50;
    margin-bottom: 20px;
}

.container input{
    color: #282b50;
    width: 70%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #1f234d;
    margin-bottom: 20px;
}

.container button{
    color: #fff;
    width: 70%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #1f234d;
    margin-bottom: 20px;
}
